<div class="container row">
  <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus, explicabo sit quaerat nulla odio rerum consectetur neque mollitia nesciunt impedit quasi perferendis ipsa corporis obcaecati laboriosam architecto illum ex!</p>
    <h3>How We Work</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellendus recusandae? Molestias, sed harum. Eum minima voluptatibus blanditiis vel iure quis voluptate totam quas excepturi, sapiente velit maxime tempora reiciendis.</p>
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis fuga accusamus repellendus? Atque nam ad nisi, voluptatum cum suscipit, veritatis sint delectus quas alias, reiciendis tempore sit dignissimos minima!</p>
    <h3>Privacy Policy</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aspernatur quasi consequuntur id amet rem, commodi expedita tempore natus aut perferendis nam asperiores, cupiditate est illo temporibus itaque nostrum eaque!</p>
  </div>
  <div class="col-md-1"></div>
</div>